@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

p,
h1,
h2,
h3,
body {
  margin: 0;
  font-family: "Mooli", sans-serif;
}

.icon-header {
  background-color: brown;
  height: 40px;
}

.header {
  display: flex;
  align-items: center;
  margin: auto;
}

.header-buttons {
  font-size: large;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-evenly;
}

.logo {
  width: 200px;
  height: 100px;
}

.map {
  width: 300px;
  height: 300px;
}

.first-section {
  background-color: brown;
  flex-wrap: wrap;
  padding: 20px;
}

.first-section-title {
  font-size: xxx-large;
  margin-bottom: 10px;
}

.first-section-description {
  font-size: medium;
  max-width: max(40vw, 500px);
}

.primary-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  height: 30px;
  padding: 10px;

  cursor: pointer;
  
  border-style: solid;
  border-width: 3px;
  border-color: white;
  border-radius: 10px;
}

.primary-button:hover {
  color: yellow;
  border-color: yellow;
}

.second-section {
  padding: 30px;
  background-color: beige;
}

.preview-box-wrapper {
  display: flex;
  flex-direction: row;  
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  align-items: stretch;
}

.preview-box-primary {
  width: 150px;
  background-color: brown;
  padding: 20px;
  border-radius: 10px;
}

.preview-box {
  width: 150px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.preview-box-icon {
  width: 40px;
  height: 40px;
  margin-bottom: -10px;
  margin-left: auto;
}

.preview-box-number {
  font-size: xxx-large;
  font-weight: bold;
}

.quote {
  max-width: 60%;
  text-align: center;
  font-size: x-large;
  font-style: italic;
  margin-bottom: 30px;
  font-weight: bold;
}

.video-section{ 
  display: flex;
  width: 100%;
}

.video {
  width: 100%;
  height: 400px;
  background-color: brown;
}
/* Utils */

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.flex-gap-20 {
  gap: 20px;
}

.text-bold {
  font-weight: bold;
}

.text-white {
  color: white;
}

.text-primary {
  color: brown;
}

.text-secondary {
  color: yellow;
}



@media only screen and (max-width: 900px) {

}

.header-button-wrapper-1 {
  position: relative;
  display: inline-block;
}

.header-button-1 {
  color: black;
  border: none;
}

.header-button-wrapper-1:hover .header-button-1-content {
  display: block;
}

.header-button-1:hover  {
  color: black;
  border: none;
}

.header-button-1-content {
  display: none;
  position: absolute;
  background-color: rgba(255,255,255,0.2);
  border-radius: 10px;
  backdrop-filter: blur(2px);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  min-width: 160px;
  z-index: 1;
}

.header-button-1-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}


.dropdown:hover .dropbtn {background-color: #3e8e41;}