.projectSection {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  padding: 20px;
}

.projectImage {
  width: 300px;
  min-width: 300px;
  height: auto;
  object-fit: cover;
  transition: transform .3s;
}

.projectImage:hover {
  transform: scale(1.2);
}

.textWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media only screen and (max-width: 700px) {
    .projectSection {
      flex-direction: column;
      gap: 10px;
    }
    .projectTitle {
      text-align: center;
    }
}

.fileDownloadLink {
  color: var(--black);
  font-weight: 400;
  padding: 0 5px;
}

