.eventSection {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 300px;
  width: 100%;
  align-items: center;
  align-self: center;
  box-sizing: border-box;
}

@media only screen and (max-width: 700px) {
  .eventSection {
    flex-direction: column;
    gap: 0;
  }

  .eventTitle {
    text-align: center;
  }
  .textWrapper {
    align-items: center;
  }
}

.eventImage {
  width: 300px;
  min-width: 300px;
  height: 200px;
  padding: 10px;
  object-fit: contain;
  transition: transform 0.3s;
}

.eventImage:hover {
  transform: scale(1.2);
}

.textWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 100%;
  overflow-wrap: break-word;
  box-sizing: border-box;
}

.eventTitle {
  color: var(--black);
  display: block;
  position: relative;
  width: 100%;
  max-width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  box-sizing: border-box;
  font-size: 1.1rem;
  text-align: left;
}

.eventTitle:hover {
  font-weight: 800;
  transition: all 1s;
}

.eventDescription {
  color: var(--black);
  font-style: italic;
}

.ticketButton {
  width: fit-content;
  padding: 15px 25px;
  cursor: pointer;
  font-size: larger;
  color: var(--primary-color);
  border-style: solid;
  border-width: 3px;
  border-color: var(--primary-color);
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
  transition: all 0.3s ease-in-out;
  align-self: center;
}

.ticketButton:hover {
  background-color: var(--primary-color);
  color: var(--white);
  border-width: 4px;
  font-weight: 600;
  box-sizing: border-box;
  margin: -1px;
}
