.legalSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--max-width-size);
  background-color: var(--white);
  padding: 40px 20px;
  margin: auto;
}

.marginBottom {
  margin-bottom: 20px;
}

.marginBottom10 {
  margin-bottom: 10px;
}

.marginLeft {
  margin-left: 20px;
}