.cardBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 150px;
  color: var(--white);
  background-color: var(--primary-color);
  padding: 20px;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
  text-decoration: none;
}

.cardBox:hover {
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  transition: all 0.5s ease-in-out;
}

.cardBoxIcon {
  align-self: flex-end;
  margin-bottom: -10px;
  margin-left: auto;
}

.cardBoxNumber {
  font-size: xxx-large;
  font-weight: 600;
  text-align: start;
}

.cardBoxTitle {
  font-size: medium;
  font-weight: 200;
  text-align: start;
}

.cardBoxSubTitle {
  font-size: large;
  font-weight: 500;
  text-align: start;
}
