.mainSection {
  position: relative;
}

.wrapper {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
}

.headlines {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: larger;
}

.headlineBox {
  padding: 10px;
  width: 300px;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 2px;
}

.headlineBoxSecondary {
  padding: 10px;
  width: 300px;
  color: var(--black);
  background-color: var(--secondary-color);
  border-radius: 2px;
  margin-left: 40px;
}

.headlineBoxTertiary {
  padding: 10px;
  width: 300px;
  color: var(--white);
  background-color: var(--tertiary-color);
  border-radius: 2px;
  z-index: 2;
}

.headlineDescription {
  padding: 20px;
  width: 350px;
  color: var(--primary-color);
  background-color: var(--primary-background-color);
  border-radius: 2px;
  font-size: large;
  margin-top: -10px;
  z-index: 1;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--white);
  max-width: 590px;
  gap: 10px;
}

.colorSecondary {
  color: var(--secondary-color);
}

.title {
  font-size: xxx-large;
  margin-bottom: 10px;
  color: var(--white);

  font-weight: 600;
}

.subTitle {
  margin-top: 20px;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.emailButton {
  width: fit-content;
  padding: 10px;
  cursor: pointer;
  font-size: large;
  color: var(--white);
  border-style: solid;
  border-width: 2px;
  border-color: var(--white);
  border-radius: 10px;
}

.emailButton:hover {
  border-width: 3px;
  font-weight: 600;
  box-sizing: border-box;
  margin: -1px;
}

.phoneButton {
  cursor: pointer;
  color: var(--white);
}

.campaignsSection {
  width: 100%;
  padding: 20px;
  background-color: var(--primary-background-color);
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}

.campaignsWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(150px, 100%), 1fr));
  gap: 20px;
  width: 100%;
  height: 100%;
  max-width: var(--max-width-size);
  justify-items: center;
}

.donationSection {
  width: 100%;
  padding: 20px;
  margin: auto;
  max-width: var(--max-width-size);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.donationImageSection {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 20px;
}

.donationTextSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}

.donationMethodTitle {
  text-align: center;
}

.thesisSection {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-background-color);
}

.thesisText {
  max-width: var(--max-width-size);
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.link {
  color: var(--black);
}

.teamingButton {
  width: fit-content;
  margin: 0 auto;
  padding: 20px;
  cursor: pointer;
  font-size: larger;
  color: var(--tertiary-color);

  border-style: solid;
  border-width: 3px;
  border-color: var(--tertiary-color);
  border-radius: 10px;
}

.teamingButton:hover {
  border-width: 4px;
  font-weight: 600;
  box-sizing: border-box;
  margin: -1px auto;
}

@media only screen and (max-width: 900px) {
  .wrapper {
    flex-direction: column-reverse;
  }

  .donationImageSection {
    flex-direction: column;
    align-items: center;
  }

  .donationTextSection {
    width: 100%;
  }

  .title {
    text-align: center;
  }

  .text {
    align-items: center;
  }
}
