.toolbarWrapper {
  height: 120px;

  position: sticky;
  top: 0;
  z-index: 10;
}

.toolbarWrapperScrolled {
  height: 120px;
  height: 80px;
  z-index: 10;

  position: sticky;
  top: 0;
  transition: 0.5s ease-in-out;
}

.toolbar {
  height: 100%;
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  gap: 50px;

  .logo {
    height: 100%;
    width: auto;
  }

  .menuItems {
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-size: x-large;
    align-items: center;

    .label {
      color: var(--primary-color);
      text-decoration: none;

      display: inline-block;
      position: relative;
    }

    .label::after {
      content: "";
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: var(--primary-color);
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }

    .label:hover::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }

  .menuMobile {
    margin-left: auto;
    display: flex;
    margin-right: 20px;
    border: none;
    background: none;
    align-items: center;
  }
}

.toolbarScrolled {
  backdrop-filter: blur(10px);
  opacity: 0.9;
  transition: 0.5s ease-in-out;
}

.mobileNavBar {
  position: absolute;
  top: 120px;
  left: 0;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: hidden;
  transition: all 0.5s ease-in-out;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;

  font-size: xx-large;
  align-items: center;

  .label {
    color: var(--white);
    text-decoration: none;

    display: inline-block;
    position: relative;
  }
}

.mobileNavBarScrolled {
  top: 80px;
}

.mobileNavBarOpened {
  height: 100vh;
}

.mobileNavBarClosed {
  height: 0vh !important;
}

@media only screen and (max-width: 1100px) {
  .menuItems {
    display: none !important;
  }
}

@media only screen and (min-width: 1100px) {
  .menuMobile {
    display: none !important;
  }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}
