.footer {
  background-color: var(--primary-color);
  color: var(--white);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 30px;
}

.legalColumn {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.emailColumn,
.donateColumn {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.socialMediaWrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.email {
  text-align: center;
}