.articleSection {
  display: flex;
  flex-direction: row;
  gap: 40px;
  max-width: 800px;
  align-items: center;
  align-self: center;
  width: 100%;
}

@media only screen and (max-width: 700px) {
  .articleSection {
    flex-direction: column;
    gap: 0;
  }

  .articleTitle {
    text-align: center;
  }
  .textWrapper {
    align-items: center;
    width: 100%;
  }
}

.articleImage {
  width: 300px;
  min-width: 300px;
  height: 200px;
  padding: 10px;
  object-fit: contain;
  transition: transform 0.3s;
}

.articleImage:hover {
  transform: scale(1.2);
}

.textWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.articleTitle {
  color: var(--black);
  display: inline-block;
  position: relative;
  width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 1.25rem;
}

.articleTitle:hover {
  font-weight: 800;
  transition: all 1s;
}

.articleDescription {
  color: var(--black);
  word-wrap: break-word;
  overflow-wrap: break-word;
}
