.personPreview {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  max-width: 250px;
}

.personImage {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  background-color: var(--white);
  transition: transform .3s;
  object-fit: cover;
}

.personImage:hover {
  transform: scale(1.1);
}

.textWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  min-height: 100px;
}
.personName {
  text-align: center;
}
.personTitle {
  font-style: italic;
  text-align: center;
}