.projectsSection {
  max-width: var(--max-width-size);
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.projectCategoryDescription {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.projectTitleSection {
  background-color: var(--agriculture-color);
  border-radius: 10px;
}

.projectTitleTextSection {
  background-color: var(--agriculture-color-light);
  margin-left: 200px;
  padding: 10px;
  border-radius: 0 10px 10px 0;
}
